@keyframes title {
  from {
    scale: 1;
    transform: translateZ(30vh);
    opacity: 0.1;
  }
}
@keyframes subtitle {
  to {
    transform: skewX(-15deg) translateX(0);
    opacity: 1;
  }
}
@keyframes glow {
  to {
    text-shadow: 0 0 0.5rem var(--light);
  }
}
@keyframes bounce {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(30deg) translateY(-1rem);
  }
  75% {
    transform: rotate(-30deg) translateY(-1rem);
  }
  100% {
    transform: rotate(0);
  }
}