@keyframes title {
    from {
        // Tiene que empezar asi
        scale: 1; // No se achica
        transform: translateZ(30vh); // Se mueve hacia adelante
        opacity: .1; // Se ve poco
    }
}

@keyframes subtitle {
    to {
        // Tiene que terminar asi
        transform:
            skewX(-15deg) // Se inclina hacia la izquierda
            translateX(0); // Se mueve hacia la derecha
        opacity: 1; // Se ve mucho
    }
}

@keyframes glow {

    // Lo voy a asociar cuando haga un hover
    to {
        text-shadow: 0 0 .5rem var(--light);
    }
}

@keyframes bounce {
    // Lo voy a asociar cuando haga un hover

    // Que tenga su valore predeterminado
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(30deg)
        translateY(-1rem);
    }

    75% {
        transform: rotate(-30deg)
        translateY(-1rem);
    }

    100% {
        transform: rotate(0);
    }
}