.gallery {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
  min-height: min(calc(100vh - 5rem), 640px);
}

.gallery-item {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.gallery .control button, .gallery [class*=control-] {
  cursor: pointer;
  padding: 0.5rem;
  color: var(--light);
  font: bold calc(.8rem + 5vw) amarillo, sans-serif;
  opacity: 0.4;
}
.gallery .control button:hover, .gallery [class*=control-]:hover {
  opacity: 0.8;
}
.gallery [class*=control-] {
  width: 25%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.gallery .control button, .gallery [class*=control-], .gallery-item {
  transition: all 0.5s ease;
}

/* Estructura para Galeria */
.gallery-item {
  background-size: cover;
  background-position: center right;
  opacity: 0;
}
.gallery-item.active {
  opacity: 1;
  z-index: 1;
}
.gallery .control {
  position: absolute;
  left: 25%;
  bottom: 5%;
  z-index: 1;
  width: 50%;
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0.5rem;
}
.gallery .control-prev {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.gallery .control-prev::before {
  content: "<";
}
.gallery .control-next {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.gallery .control-next::before {
  content: ">";
}
.gallery .control button {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem var(--dark);
}
.gallery .control button.active {
  padding: 0.5rem 1.25rem;
}

/* Imagenes para galerias */
.coffee-beans,
.gallery-item:nth-child(1n),
.bg:nth-child(1n) {
  background-image: url("../assets/bg/coffee-beans.jpg");
}

.grilled-beef,
.gallery-item:nth-child(2n),
.bg:nth-child(2n) {
  background-image: url("../assets/bg/grilled-beef.jpg");
}

.grilled-chicken,
.gallery-item:nth-child(3n),
.bg:nth-child(3n) {
  background-image: url("../assets/bg/grilled-chicken.jpg");
}

.header-background,
.gallery-item:nth-child(4n),
.bg:nth-child(4n) {
  background-image: url("../assets/bg/header-background.jpg");
}

.homemade-pizza,
.gallery-item:nth-child(5n),
.bg:nth-child(5n) {
  background-image: url("../assets/bg/homemade-pizza.jpg");
}

.indian-condiments,
.gallery-item:nth-child(6n),
.bg:nth-child(6n) {
  background-image: url("../assets/bg/indian-condiments.jpg");
}

.salami-pizza,
.gallery-item:nth-child(7n),
.bg:nth-child(7n) {
  background-image: url("../assets/bg/salami-pizza.jpg");
}

.shrimps-vegetables,
.gallery-item:nth-child(8n),
.bg:nth-child(8n) {
  background-image: url("../assets/bg/shrimps-vegetables.jpg");
}

.spaghetti-pesto,
.gallery-item:nth-child(9n),
.bg:nth-child(9n) {
  background-image: url("../assets/bg/spaghetti-pesto.jpg");
}

.spaghetti-tomato,
.gallery-item:nth-child(10n),
.bg:nth-child(10n) {
  background-image: url("../assets/bg/spaghetti-tomato.jpg");
}

.tomato-salad,
.gallery-item:nth-child(11n),
.bg:nth-child(11n) {
  background-image: url("../assets/bg/tomato-salad.jpg");
}

.vegan-salad,
.gallery-item:nth-child(12n),
.bg:nth-child(12n) {
  background-image: url("../assets/bg/vegan-salad.jpg");
}

.vegetables,
.gallery-item:nth-child(13n),
.bg:nth-child(13n) {
  background-image: url("../assets/bg/vegetables.jpg");
}